* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

svg {
    pointer-events: none;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
    display: none;
}

input {
    border: inherit;
    outline: 0;
}

.flex {
    display: flex;
}
