$primaryDark: #212121;
$secondaryDark: #424242;
$primaryLight: #FAFAFA;
$dollarGreen: #43A047;
$lightGreen: #E8F5E9;
$lightRed: #FFEBEE;
$mediumGreen:#A5D6A7;
$mediumRed: #EF9A9A;
$fontLigth: $primaryLight;
