<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hajs Sie Zgadza!</title>
    <link rel="stylesheet" type="text/css" href="public/app.css">
</head>
<body>
<div id="appContainer"></div>
<script src="public/bundle.js"></script>
</body>
</html>
