.filters {
    justify-content: center;
    flex-wrap: wrap;

    .import {
        display: inline-flex;
        align-items: center;
        flex-shrink: 1;
        cursor: pointer;
        color: $dark;

        svg {
            fill: $dark;

        }

        &:hover {
            color: $primaryDark;
            svg {
                fill: $primaryDark;
            }
        }
    }
}

.category-filter {
    display: inline-flex;
    flex-grow: 1;
    margin-right: 10px;
    height: 2rem;

    div {
        display: inline-block;
    }

    border-bottom: 1px solid $secondaryDark;

    input {
        border: none;
        width: 100%;
        font-size: 1rem;
    }

    svg {
        fill: $secondaryDark;
    }
}

.date-picker {
    align-items: center;
    flex-grow: 1;
    width: 100%;

    .stretch {
        text-align: center;
        background: none;
        border: none;
        flex-grow: 1;
    }

    .button {
        padding: 10px;
        width: 44px;
        height: 44px;

        div {
            width: 24px;
            height: 24px;
        }
    }

    input {
        font-size: 1.2rem;
    }
}
