.navigation {
    align-items: center;
    background-color: $primaryDark;
    color: $primaryLight;
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: flex-end;
    margin-bottom: 2rem;

    ul {
        align-items: center;
        display: flex;
        list-style: none;
    }

    .nav-item {
        padding: 0 1rem;
    }

    .logo {
        font-weight: bold;
        flex-grow: 1;
        color: $dollarGreen;
        margin: 0 0 0 1rem;
    }
}
