.navigation {
    align-items: center;
    background-color: $primaryDark;
    color: $primaryLight;
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: flex-end;

    ul {
        display: inherit;
        list-style: none;
    }
}
