.date-picker {
    color: $secondaryDark;
    display: flex;
    height: 2rem;
    align-items: center;

    .stretch {
        text-align: center;
        background: none;
        border: none;
        border-bottom: 1px solid $dollarGreen;
    }

    .button {
        width: 20%;
        cursor: pointer;
        text-align: center;
    }
}

.flex-table {
    button {
        background: none;
        border: none;
        padding: 0;
    }

    tr {
        display: flex;
        height: 3rem;
        align-items: center;
    }

    td {
        width: 150px;
        padding: 0;

        &.flex {
            width: initial;
        }
    }

    .flex, .last {
        display: flex;
    }
}

.text-input {
    font-size: 1rem;
    border: none;
    padding: 0;
    width: inherit;
    height: inherit;
}

.table-header {
    font-weight: 300;
}

.table-form  {
    border-bottom: 1px solid $secondaryDark;

    td {
        height: inherit;

        input {
            font-style: italic;
            font-weight: 100;
        }
    }
}

.radio-input {
    align-items: center;
    width: 100px;
    flex-grow: 1;
    justify-content: center;
    cursor: pointer;

    input {
        visibility: hidden;
        position: absolute;
    }

    svg, div {
        width: 18px;
        height: 18px;
    }

    &.type-income {
        svg {
            fill: $mediumGreen;
        }
    }

    &.type-spend {
        svg {
            fill: $mediumRed;
        }
    }
}

.type-income {
    border-bottom: 1px solid $lightGreen;

    &:hover {
            border-bottom: 1px solid $dollarGreen;
    }

    button {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
    }

    div {
        width: 24px;
        height: 24px;
        margin: auto;
    }

    button:hover {
        border: 1px solid $mediumGreen;
        border-radius: 30px;
        svg {
            fill: $dollarGreen;
        }
    }
}

.type-spend {
    border-bottom: 1px solid $lightRed;

    &:hover {
        td {
            background-color: $lightRed;
        }

        .last {
            background: none;
        }
    }
}
