.loading .flex-table {
    opacity: 0.3;
}

.flex-table {
    margin: auto;
    min-height: 400px;

    div {
        width: 24px;
        height: 24px;
        margin: auto;
    }

    button {
        width: 2.5rem;
        height: 2.5rem;
    }

    td {
        width: 140px;
        padding: 0 10px 0 0;
    }

    .first {
        width: 100px;
        text-align: left;
    }

    .last {
        width: 50px;
        text-align: right;
    }

    tr {
        align-items: center;
        min-height: 3rem;

        &.type-income {
            border-bottom: 1px solid $lightGreen;

            &:hover {
                border-bottom: 1px solid $dollarGreen;
            }

            button:hover {
                border-color: $mediumGreen;
                svg {
                    fill: $dollarGreen;
                }
            }
        }

        &.type-spend {
            border-bottom: 1px solid $lightRed;

            &:hover {
                border-bottom: 1px solid $darkRed;
            }

            button:hover {
                border-color: $mediumRed;
                svg {
                    fill: $darkRed;
                }
            }
        }
    }

    .table-form  {
        .first {
            flex-direction: column;
        }
    }
}

.text-input {
    font-size: 1rem;
    font-weight: 300;
    color: $primaryDark;

    width: inherit;
    padding: inherit;

    &::-webkit-input-placeholder {
        font-style: italic;
        font-weight: 100;
        color: $dark;
    }
}

.table-header {
    font-weight: 300;
}

.radio-input {
    cursor: pointer;
    align-self: flex-start;
    color: $primaryDark;

    input {
        visibility: hidden;
        position: absolute;
    }

    .label {
        padding-left: 5px;
    }

    svg, div {
        width: 18px;
        height: 18px;
    }

    &.type-income {
        svg {
            fill: $mediumGreen;
        }
    }

    &.type-spend {
        svg {
            fill: $mediumRed;
        }
    }
}

.balance {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 10px;

    &.green {
        color: $dollarGreen;
    }

    &.red {
        color: $darkRed;
    }
}
