.date-picker {
    color: $secondaryDark;
    display: flex;
    height: 2rem;
    align-items: center;

    .stretch {
        text-align: center;
        background: none;
        border: none;
        border-bottom: 1px solid $dollarGreen;
    }

    .button {
        width: 20%;
        cursor: pointer;
        text-align: center;
    }
}

.flex-table {
    tr {
        display: flex;
        height: 2rem;
        align-items: center;
    }

    td {
        width: 150px;
        padding: 0;

        &.flex {
            width: initial;
        }
    }

    .flex, .last {
        display: flex;
    }
}

.text-input {
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid $secondaryDark;
    padding: 0;
    width: inherit;
    height: inherit;
}

.table-header {
    font-weight: 300;
}

.table-form td {
    height: inherit;
}

.radio-input {
    align-items: center;
    width: 100px;

    // border: 1px solid $primaryDark;
    font-size: 1.2rem;
    flex-grow: 1;
    justify-content: center;
    cursor: pointer;

    input {
        visibility: hidden;
        position: absolute;
    }

    &.type-income {
        border: 1px solid $mediumGreen;
        border-radius: 0 8px 8px 0;

        &:hover, &.active {
            background-color: $mediumGreen;
        }
    }

    &.type-spend {
        border-radius: 8px 0 0 8px;
        border: 1px solid $mediumRed;

        &:hover, &.active {
            background-color: $mediumRed;
        }
    }
}

.type-income {
    border-bottom: 1px solid $lightGreen;

    &:hover {
        background-color: $lightGreen;
    }
}

.type-spend {
    border-bottom: 1px solid $lightRed;

    &:hover {
        background-color: $lightRed;
    }
}
